/* lo incoroporo en index.js */


.card {
  width: 100%;
  background-color: #f4f6f7 !important;
  margin: auto;
  max-width: 750px !important;
  max-height: max-content !important;
  border-radius: 20px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden !important;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
}


.card-body {
  width: 100%;
}

.w-33 {
  max-width: 100%;
}

.formulario label {
  font-weight: bold;
  text-align: left !important;
  text-align: left;
  display: block;
  width: 33%;
  float: left;
}


.selectize option[value=""]:first-child{
  color: #999 !important; /* Color de texto gris */
  font-style: italic !important;
}

.placeholder-option {
  color: #999 !important; /* Color de texto gris */
  font-style: italic !important; /* Estilo de fuente en cursiva */
}



.card {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.container-imagen {
  max-width: 300px;
  max-height: 300px;
}

.container-imagen img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.center-button {
  display: block !important;
  margin: auto !important;
  display: flex !important;
  margin-top: 30px !important;
}



.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.producto-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.producto-image-container {
  height: 200px;
  overflow: hidden;
}

.producto-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto-info-container {
  padding: 1rem;
}

.producto-nombre {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.producto-descripcion {
  margin-bottom: 1rem;
}

.producto-precio {
  margin-bottom: 0.5rem;
}

.producto-stock {
  margin-bottom: 0.5rem;
}

.producto-categoria {
  margin-bottom: 0.5rem;
}

.producto-acciones {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

.producto-image-container-full {
  max-width: 100%;
}
.producto-image {
  max-width: 100%;
  max-height: max-content !important; /* Cambia este valor según tus necesidades */
  object-fit: contain;
}


